# <b>A. <span style='color:#0B2F9F'><code>LIST</code></span></b>
List merupakan tipe data yang digunakan untuk menyimpan kumpulan nilai dalam satu variabel. Elemen dalam list ditulis dengan tanda kurung siku [ ] dan dipisahkan dengan koma.

Sifat- sifat dalam list yaitu:
- Terurut (ordered) dan mengenal indeks

- Elemen dapat diubah (mutable)

- Elemen dapat berulang/duplikat

- Dapat berisi berbagai tipe data seperti integer, string, float, bahkan yang lain

In [1]:
# Variabel nama_teman (list) berisi lima nama teman

nama_teman = ['Amir', 'Budi', 'Cinta', 'Dimas', 'Edi']
print(nama_teman)

['Amir', 'Budi', 'Cinta', 'Dimas', 'Edi']

In [2]:
# List berisi nilai dengan tipe data berbeda

acak = ['Amir', 18, 0.75, 'Jeruk']
print(acak)

['Amir', 18, 0.75, 'Jeruk']

In [3]:
# List berisi elemen duplikat

buah = ['Jeruk', 'Melon', 'Apel', 'Jeruk']
print(buah)

['Jeruk', 'Melon', 'Apel', 'Jeruk']

In [4]:
# Menampilkan panjang nama_teman

len(nama_teman)

5

###<b><span style='color:#A0C4FF'>Indeks</span></b>

Indeks merupakan nilai yang menyatakan posisi atau nomor urut suatu elemen dalam struktur data yang terurut, seperti string, list, dan tuple. Indeks dimulai dari 0 dan dapat dibaca dari depan maupun belakang. Contoh:

In [8]:
# Indeks (depan)         0       1       2        3       4
# Indeks (belakang)     -5      -4      -3       -2      -1
#nama_teman       =  ['Amir', 'Budi', 'Cinta', 'Dimas', 'Edi']

In [9]:
# Memanggil elemen berdasarkan indeks

nama_teman[1]

'Budi'

In [10]:
nama_teman[-1]

'Edi'

In [11]:
# Mengganti elemen pada indeks tertentu
# Budi akan digantikan dengan Beni

nama_teman[1] = 'Beni'
print(nama_teman)

['Amir', 'Beni', 'Cinta', 'Dimas', 'Edi']

In [12]:
# Menambahkan elemen baru pada akhir list

nama_teman.append('Farhan')
print(nama_teman)

['Amir', 'Beni', 'Cinta', 'Dimas', 'Edi', 'Farhan']

In [13]:
# Menghitung banyaknya kemunculan suatu elemen

nama_teman.count('Beni')

1

In [14]:
# Menampilkan indeks dari suatu elemen
# jika elemen memiliki duplikat maka indeks yang ditampilkan adalah indeks terkecil

nama_teman.index('Dimas')

3

In [15]:
# Menyisipkan elemen pada indeks tertentu

nama_teman.insert(2, 'Canda')
print(nama_teman)

['Amir', 'Beni', 'Canda', 'Cinta', 'Dimas', 'Edi', 'Farhan']

In [16]:
# Memindahkan elemen pada indeks tertentu ke tempat yang tidak diketahui

nama_teman.pop(2)
print(nama_teman)

['Amir', 'Beni', 'Cinta', 'Dimas', 'Edi', 'Farhan']

In [17]:
# Menghapus elemen tertentu
# Jika terdapat elemen duplikat maka yang dihapus adalah elemen yang muncul pertama kali

nama_teman.remove('Cinta')
print(nama_teman)

['Amir', 'Beni', 'Dimas', 'Edi', 'Farhan']

In [18]:
# Mengurutkan elemen pada list

# Ascending/menaik
nama_teman.sort()
print('Menaik')
print(nama_teman)
print('\n')

# Descending/menurun
print('Menurun')
nama_teman.sort(reverse=True)
print(nama_teman)

Menaik
['Amir', 'Beni', 'Dimas', 'Edi', 'Farhan']


Menurun
['Farhan', 'Edi', 'Dimas', 'Beni', 'Amir']

In [20]:
# Membalikkan list

nama_teman.reverse()
print(nama_teman)

['Farhan', 'Edi', 'Dimas', 'Beni', 'Amir']

In [21]:
# Menyalin list

teman_baru = nama_teman.copy()
print(teman_baru)

['Farhan', 'Edi', 'Dimas', 'Beni', 'Amir']

In [22]:
# Mengosongkan list

nama_teman.clear()
print(nama_teman)

[]

In [24]:
# List nama_teman sekarang menjadi kosong

nama_teman

[]

###<b><span style='color:#A0C4FF'>Slicing</span></b>
Slicing adalah teknik untuk mengambil bagian dari suatu urutan (seperti string, list, atau tuple) menggunakan indeks. Penulisannya sebagai berikut.

Nama_list [indeks_awal:indeks_akhir:step]

● Jika nilai step tidak didefinisikan, maka step akan bernilai 1 (maju 1
hitungan)

● Jika step bernilai -1 maka step akan mundur satu hitungan

● Elemen yang terakhir dicetak adalah di indeks_akhir - 1

In [25]:
# Slicing pada list

nama_teman = ['Amir', 'Beni', 'Cinta', 'Dimas', 'Edi']

print(nama_teman[0:3])

print(nama_teman[::2])

print(nama_teman[::-1])

['Amir', 'Beni', 'Cinta']
['Amir', 'Cinta', 'Edi']
['Edi', 'Dimas', 'Cinta', 'Beni', 'Amir']

In [27]:
# Mengganti elemen pada indeks tertentu
# Amir akan digantikan dengan Asep dan Beni digantikan dengan Bobby
nama_teman[0:2] = ['Asep', 'Bobby']
print(nama_teman)

['Asep', 'Bobby', 'Cinta', 'Dimas', 'Edi']

###<b><span style='color:#A0C4FF'>Append</span></b>

Append adalah metode dalam list yang digunakan untuk menambahkan satu elemen ke akhir list.

In [28]:
# Menambahkan elemen baru di akhir list

nama_teman.append('Farhan')
print(nama_teman)

['Asep', 'Bobby', 'Cinta', 'Dimas', 'Edi', 'Farhan']

# <b>B. <span style='color:#0B2F9F'><code>TUPLE</code></span></b>
Tuple adalah tipe data yang digunakan untuk menyimpan kumpulan nilai seperti list, tetapi elemen dalam tuple ditulis dengan tanda kurung ( ) dan dipisahkan dengan koma.

Sifat- sifat dalam tuple yaitu:
- Terurut (ordered) dan mengenal indeks

- Elemen tidak dapat diubah (immutable)

- Elemen dapat berulang/duplikat

- Dapat berisi berbagai tipe data seperti integer, string, float, bahkan yang lain

In [29]:
# Mendefinisikan tuple dengan tanda kurung

bil_tuple = (10,20,30,40,50)

In [30]:
# Menampilkan panjang tuple

len(bil_tuple)

5

In [31]:
# Menampilkan kemunculan bilangan 10 pada tuple

bil_tuple.count(10)

1

In [33]:
# Menampilkan indeks dari elemen 30 pada tuple

bil_tuple.index(30)

2

In [34]:
# Menampilkan elemen dengan indeks ke 3 pada tuple

bil_tuple[3]

40

In [35]:
# Slicing pada tuple

bil_tuple[::2]

(10, 30, 50)

In [36]:
# Membuat list dari tuple

bilangan = list(bil_tuple)
bilangan

[10, 20, 30, 40, 50]

In [37]:
# Membuat tuple dari list

bil_list = [50, 70, 90, 30, 20, 10, 60, 70, 30, 50]

bil = tuple(bil_list)
print(bil)

(50, 70, 90, 30, 20, 10, 60, 70, 30, 50)

# <b>C. <span style='color:#0B2F9F'><code>SET</code></span></b>
Set adalah tipe data yang digunakan untuk menyimpan kumpulan elemen,
elemen ditulis dengan tanda kurung kurawal { } dan dipisahkan dengan koma.

Sifat-sifat dalam set yaitu:
- Tidak berurutan (unordered) dan tidak mengenal indeks

- Elemen dapat diubah (mutable)

- Tidak ada elemen duplikat

- Dapat berisi berbagai tipe data seperti integer, string, float, kecuali list dan dict

In [38]:
# Mendefinisikan set bernama buah

buah = {'apel','jeruk','mangga','melon','semangka','anggur'}
buah

{'anggur', 'apel', 'jeruk', 'mangga', 'melon', 'semangka'}

In [39]:
# Menampilkan ukuran himpunan

len(buah)

6

In [40]:
# Menambahkan anggota himpunan

buah.add('pepaya')

print(buah)

{'mangga', 'apel', 'jeruk', 'pepaya', 'semangka', 'anggur', 'melon'}

In [41]:
# Menambahkan himpunan ke himpunan

buah.update({'pisang','jambu'})

print(buah)

{'pisang', 'jeruk', 'semangka', 'anggur', 'pepaya', 'melon', 'mangga', 'jambu', 'apel'}

In [42]:
# Menghapus 'pisang' dari himpunan

buah.remove('pisang')

print(buah)

{'jeruk', 'semangka', 'anggur', 'pepaya', 'melon', 'mangga', 'jambu', 'apel'}

In [43]:
# Akan menghasilkan error karena sirsak tidak ada di dalam himpunan
buah.remove('sirsak')

KeyError: 'sirsak'

In [44]:
# Menghapus 'pepaya' dari himpunan

buah.discard('pepaya')

print(buah)

{'jeruk', 'semangka', 'anggur', 'melon', 'mangga', 'jambu', 'apel'}

In [45]:
# Menguji apakah terdapat 'durian' pada himpunan buah

'durian' in buah

False

In [46]:
# Menampilkan semua anggota buah kecuali anggur, sirsak, dan melon

buah.difference({'anggur','sirsak','melon'})

{'apel', 'jambu', 'jeruk', 'mangga', 'semangka'}

In [47]:
# Menampilkan irisan himpunan

buah.intersection({'anggur','sirsak','melon'})

{'anggur', 'melon'}

In [48]:
# Menampilkan gabungan himpunan

buah.union({'anggur','sirsak','melon'})

{'anggur', 'apel', 'jambu', 'jeruk', 'mangga', 'melon', 'semangka', 'sirsak'}

# <b>D. <span style='color:#0B2F9F'><code>DICTIONARY</code></span></b>
Dictionary adalah tipe data yang menyimpan data dalam bentuk key-value pair (Key : Value).
Elemen dalam dictionary ditulis dengan tanda kurung kurawal { } dan dipisahkan dengan koma.

Sifat-sifat dalam dictionary yaitu:

- Sejak Python 3.7, dictionary mempertahankan urutan elemen sesuai saat dimasukkan (insertion ordered), tetapi tetap tidak bisa diakses dengan indeks numerik.

- Elemen dapat diubah (Mutable)

- Tidak boleh ada key yang duplikat

- Dapat berisi berbagai tipe data, tetapi key harus bersifat immutable (seperti string, angka, atau tuple)

In [49]:
# Mendefinisikan dictionary

pegawai = {
	'Nama'	: 'Dicky',
	'Usia'		: 30,
	'Role'		: 'Data Analyst',
	'Dept'		: 'Marketing'
}
pegawai

{'Nama': 'Dicky', 'Usia': 30, 'Role': 'Data Analyst', 'Dept': 'Marketing'}

In [54]:
# Memanggil value dari dictionary

pegawai['Nama']

'Ricky'

In [55]:
# Mengganti value pada dictionary

pegawai['Nama'] = 'Ricky'

print(pegawai)

{'Nama': 'Ricky', 'Usia': 30, 'Role': 'Data Analyst', 'Dept': 'Marketing', 'Gaji': 10000000}

In [56]:
# Menambahkan key baru beserta valuenya

pegawai['Gaji'] = 10000000

print(pegawai)

{'Nama': 'Ricky', 'Usia': 30, 'Role': 'Data Analyst', 'Dept': 'Marketing', 'Gaji': 10000000}

In [57]:
# Menghapus key beserta valuenya

del pegawai['Gaji']

print(pegawai)

{'Nama': 'Ricky', 'Usia': 30, 'Role': 'Data Analyst', 'Dept': 'Marketing'}

In [58]:
# Menampilkan daftar key dari dictionary

pegawai.keys()

dict_keys(['Nama', 'Usia', 'Role', 'Dept'])

In [59]:
# Menampilkan daftar values

pegawai.values()

dict_values(['Ricky', 30, 'Data Analyst', 'Marketing'])

In [60]:
# Menampilkan pasangan key value dalam bentuk list of tuples

pegawai.items()

dict_items([('Nama', 'Ricky'), ('Usia', 30), ('Role', 'Data Analyst'), ('Dept', 'Marketing')])

In [61]:
# Menyalin dictionary

copy_of_pegawai = pegawai.copy()
copy_of_pegawai

{'Nama': 'Ricky', 'Usia': 30, 'Role': 'Data Analyst', 'Dept': 'Marketing'}

In [62]:
# Menghapus seluruh isi dictionary

copy_of_pegawai.clear()
copy_of_pegawai

{}

# <b>E. <span style='color:#0B2F9F'><code>LATIHAN</code></span></b>

In [63]:
# 1

for i in range(len(nama_teman)):
  print(nama_teman[i])

Asep
Bobby
Cinta
Dimas
Edi
Farhan

In [64]:
# 2

nama_teman.append('Gio')
## Cara 1
for i in range(len(nama_teman)):
  print(f"{i+1}, {nama_teman[i]}")

1, Asep
2, Bobby
3, Cinta
4, Dimas
5, Edi
6, Farhan
7, Gio

In [65]:
## Cara 2
for i, nama in enumerate(nama_teman):
  print(f"{i+1}, {nama}")

1, Asep
2, Bobby
3, Cinta
4, Dimas
5, Edi
6, Farhan
7, Gio

In [66]:
# 3 (Mengakses list berisi tuple)

i_name = list(enumerate(nama_teman))
i_name

[(0, 'Asep'),
 (1, 'Bobby'),
 (2, 'Cinta'),
 (3, 'Dimas'),
 (4, 'Edi'),
 (5, 'Farhan'),
 (6, 'Gio')]

In [67]:
i_name[2][1]

'Cinta'

In [68]:
# 4

## Cara 1
nama_teman1 = ['Asep', 'Bobby', 'Cinta', 'Dimas', 'Edi', 'Asep']
index = [i for i, nama in enumerate(nama_teman1) if nama == 'Asep']
print(index)

[0, 5]

In [85]:
## Cara 2
asep = []
for indeks, nama in enumerate(nama_teman1):
  if nama == 'Asep':
   asep.append(indeks)
print(asep)

[0, 5]


---
Powered by : <br>
<img src="https://lh3.googleusercontent.com/ayfbbgvQolM_Ys9VYRVFD6FjDJXSebI9sN1VtY4ppp65dXepA6JCKgKMM_porWAErGQmc8l-L_RXq080SJ3FbYTIsyxYqWWTuAX8A3VtafWLUwAnnxNnjR1s-3BMCUlF34fYnViLuutxrLm3nEpoix0" width="20%">
<br><br>
<a href="https://www.linkedin.com/in/kiranafara/"><img src="https://img.shields.io/badge/-© 2025 Kirana Fara L-417DAC?style=for-the-badge&logoColor=white"/></a>