# <b>A. <span style='color:#0B2F9F'><code>VARIABEL</code></span></b>
Variabel pada bahasa pemrograman adalah tempat penyimpanan untuk data atau informasi. Variabel digunakan untuk menyimpan nilai, yang kemudian bisa diakses atau dimanipulasi dalam program.

Aturan penamaan variabel (pada Python):
- Hanya huruf, angka, dan underscore
- Nama variabel tidak dapat diawali dengan angka
- Usahakan nama variabel sesuai dengan kegunaannya
- Lowercase preferred

In [2]:
# Mengisi nilai 5 pada variable x

x = 5

In [5]:
# Mengisi nilai 3.14 pada variable y

y = 3.14

### <b>Menampilkan variabel/hasil</b></li>

Dalam python, jika ingin menampilkan sesuatu, dapat langsung memanggil variabel nya atau dengan menggunakan print().

In [3]:
# Menampilkan nilai x

x

5

In [6]:
# Menampilkan nilai y

print(y)

3.14

# <b>B. <span style='color:#0B2F9F'><code>TIPE DATA</code></span></b>

<a id="A.1."></a>
## <b>B.1. <span style='color:#A0C4FF'>Numerik : Integer & Float</span></b>

Integer (int) merupakan tipe data untuk menyimpan bilangan bulat. Integer tidak memiliki bagian desimal dan dapat berupa bilangan positif, negatif, atau nol.

Float (float) merupakan tipe data untuk menyimpan bilangan desimal. Float digunakan untuk operasi matematika yang melibatkan angka pecahan.

In [8]:
# Tipe data dari x adalah integer
print(x)
type(x)

5

int

In [9]:
# Tipe data dari y adalah float
print(y)
type(y)

3.14

float

<a id="A.1."></a>
## <b>B.2. <span style='color:#A0C4FF'>Boolean</span></b>


Boolean (bool) merupakan tipe data yang hanya memiliki dua nilai: True (1) atau False (0). Tipe ini sering digunakan untuk operasi logika dan pengkondisian.

In [ ]:
# Cara penulisan nilai True yang benar
True

True

In [ ]:
# Cara penulisan nilai False yang benar
False

False

In [ ]:
# Penulisan true yang salah, colab akan menganggap 'true' sebagai nama variabel
true

NameError: ignored

In [ ]:
# Kondisi yang dihubungkan dengan operator and akan bernilai benar jika semua kondisi benar
True and True

True

In [ ]:
# Kondisi yang dihubungkan dengan operator and akan bernilai salah jika ada atau semua kondisi salah
True and False

False

In [ ]:
False and False

False

In [ ]:
# Contoh: seseorang akan mendapatkan pekerjaan jika rajin dan upgrade skill
is_rajin = True
is_upgrade_skill = True

get_job = is_rajin and is_upgrade_skill

get_job

True

In [ ]:
# Kondisi yang dihubungkan dengan operator or akan bernilai benar jika salah satu kondisi benar
True or True

True

In [ ]:
True or False

True

In [ ]:
# Kondisi yang dihubungkan dengan operator or akan bernilai salah jika semua kondisi salah
False or False

False

In [ ]:
# Seseorang dikatakan dari fakultas mipa jika dia dari jurusan matematika atau dari jurusan IPA
is_matematika = True
is_ipa = False

is_mipa = is_matematika or is_ipa

is_mipa

True

In [ ]:
int(True)

1

In [ ]:
int(False)

0

In [ ]:
True + True

2

In [ ]:
False + False

0

In [ ]:
True + False

1

In [ ]:
3 * True

3

<a id="A.1."></a>
## <b>B.3. <span style='color:#A0C4FF'>String</span></b>

String (string) merupakan tipe data yang digunakan untuk menyimpan teks atau urutan karakter. String dapat didefinisikan dengan menggunakan tanda kutip tunggal (') atau ganda (").

In [ ]:
# Nilai string diapit oleh tanda kutip
'Hello world'

'Hello world'

In [ ]:
nama_depan = 'Elon'
nama_belakang = 'Musk'

nama_depan + ' ' + nama_belakang

'Elon Musk'

In [ ]:
'Python' * 10

'PythonPythonPythonPythonPythonPythonPythonPythonPythonPython'

In [ ]:
# Membuat string menjadi huruf besar (uppercase)
'PyTHon'.upper()

'PYTHON'

In [ ]:
# Membuat string menjadi huruf kecil (lowercase)
'PyThon'.lower()

'python'

In [ ]:
# Membuat huruf pertama dalam string menjadi huruf besar (uppercase)
'pyTHon'.capitalize()

'Python'

In [ ]:
# Menukar string huruf besar (uppercase) ke huruf kecil (lowercase)
'PyThon'.swapcase()

'pYtHON'

In [ ]:
# Menghitung jumlah huruf dalam suatu string
'Aku suka belajar Python'.count('u')

2

In [ ]:
# Mengganti suatu huruf menjadi huruf yang lain dalam suatu string
'Aku suka belajar Python'.replace('u','i')

'Aki sika belajar Python'

In [ ]:
# Menghapus spasi atau karakter tertentu di awal dan akhir string
'      Aku suka belajar Python        '.strip()

'Aku suka belajar Python'

In [ ]:
# Mengakses suatu karakter dalam suatu string
#    0123456 8910  (index)
z = 'Python. Sql'
print(z[8])
print(z[0:6])

S
Python

# <b>C. <span style='color:#0B2F9F'><code>OPERATOR</code></span></b>

<a id="A.1."></a>
## <b>C.1. <span style='color:#A0C4FF'>Operasi Dasar Matematika</span></b>

Operasi matematika dasar dapat dilakukan dengan menggunakan operator-operator berikut:
<br><br>
<table border="1">
    <tr>
        <th>Simbol</th>
        <th>Operasi</th>
    </tr>
    <tr>
        <td>+</td>
        <td>Penjumlahan</td>
    </tr>
    <tr>
        <td>-</td>
        <td>Pengurangan</td>
    </tr>
    <tr>
        <td>*</td>
        <td>Perkalian</td>
    </tr>
    <tr>
        <td>/</td>
        <td>Pembagian</td>
    </tr>
    <tr>
        <td>//</td>
        <td>Pembagian (dibulatkan ke bawah)</td>
    </tr>
    <tr>
        <td>%</td>
        <td>Modulo (sisa hasil bagi)</td>
    </tr>
     <tr>
        <td>-</td>
        <td>Negasi (mengubah simbol)</td>
    </tr>
     <tr>
        <td>**</td>
        <td>Pangkat</td>
    </tr>
</table>

In [11]:
a = 10
b = 3
c = 4

In [12]:
a + b

13

In [13]:
a - b

7

In [14]:
a * b

30

In [15]:
a / b

3.3333333333333335

In [16]:
a // b

3

In [17]:
# Cara lain pembagian disertai pembulatan ke bawah
import math
print(math.floor(a/b))

3

In [18]:
# Pembagian disertai pembulatan ke atas
import math
print(math.ceil(a/b))

4

In [ ]:
a % b

1

In [ ]:
-a

-10

In [ ]:
a ** b

1000

In [ ]:
# Akar kuadrat
c**(1/2)

2.0

<a id="A.1."></a>
## <b>C.2. <span style='color:#A0C4FF'>Operasi Perbandingan</span></b>

Operasi perbandingan digunakan untuk membandingkan dua nilai dan mengembalikan True atau False.
<br><br>
<table border="1">
    <tr>
        <th>Simbol</th>
        <th>Operasi</th>
    </tr>
    <tr>
        <td><</td>
        <td>Kurang dari</td>
    </tr>
    <tr>
        <td>></td>
        <td>Lebih dari</td>
    </tr>
    <tr>
        <td><=</td>
        <td>Kurang dari atau sama dengan</td>
    </tr>
    <tr>
        <td>>=</td>
        <td>Lebih dari atau sama dengan</td>
    </tr>
    <tr>
        <td>==</td>
        <td>Sama dengan</td>
    </tr>
    <tr>
        <td>!=</td>
        <td>Tidak sama dengan</td>
    </tr>
</table>

In [ ]:
a = 3
b = 4

In [ ]:
a > b

False

In [ ]:
a < b

True

In [ ]:
a == 5

False

In [ ]:
a != b

True

# <b>D. <span style='color:#0B2F9F'><code>LATIHAN</code></span></b>

In [ ]:
# 1

x = int(input("Masukan nilai x: "))
if x > 4:
  print("Nilai x lebih dari 4")
elif x == 4:
  print("Nilai x sama dengan 4")
else:
  print("Nilai x kurang dari 4")

Masukan nilai x: 9
Nilai x lebih dari 4

In [ ]:
# 2

x = int(input("Masukan nilai x: "))
if x % 2 == 0:
  print("x bilangan genap")
else:
  print("x bilangan ganjil")

Masukan nilai x: 2
x bilangan genap

In [ ]:
# 3

x = int(input("Masukan nilai x: "))
y = int(input("Masukan nilai y: "))
if (x % 2 == 0) and (y % 3 == 0):
  print("x dan y bilangan yang habis dibagi 2 dan 3")
else:
  print("Salah satu dari x atau y adalah bilangan yang tidak habis dibagi 2 dan 3")

Masukan nilai x: 4
Masukan nilai y: 5
Salah satu dari x atau y adalah bilangan yang tidak habis dibagi 2 dan 3

In [ ]:
# 4

w = float(input("Masukan berat badan anda (kg): "))
h = float(input("Masukan tinggi badan anda (cm): "))
bmi = (w/((h/100)**2))
if bmi < 18.5:
  print(f"Nilai BMI Anda: {bmi:.2f}, maka Anda underweight")
elif bmi >= 18.5 and bmi < 24.9 :
  print(f"Nilai BMI Anda: {bmi:.2f}, maka Anda healthy")
elif bmi >= 24.9 and bmi < 29.9:
  print(f"Nilai BMI Anda: {bmi:.2f}, maka Anda overweight")
else:
  print(f"Nilai BMI Anda: {bmi:.2f}, maka Anda obesitas")

Masukan berat badan anda (kg): 53.4
Masukan tinggi badan anda (cm): 164.7
Nilai BMI Anda: 19.69, maka Anda healthy

In [1]:
# 5 (membuat segitiga siku-siku)

for i in range(1,6):
  print('*' * i)

*
**
***
****
*****


---
Powered by : <br>
<img src="https://lh3.googleusercontent.com/ayfbbgvQolM_Ys9VYRVFD6FjDJXSebI9sN1VtY4ppp65dXepA6JCKgKMM_porWAErGQmc8l-L_RXq080SJ3FbYTIsyxYqWWTuAX8A3VtafWLUwAnnxNnjR1s-3BMCUlF34fYnViLuutxrLm3nEpoix0" width="20%">
<br><br>
<a href="https://www.linkedin.com/in/kiranafara/"><img src="https://img.shields.io/badge/-Â© 2025 Kirana Fara L-417DAC?style=for-the-badge&logoColor=white"/></a>